@import 'src/styles/utils';

.pagination{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .number{
    font-size: 0.85rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}